<!DOCTYPE html>
<html lang="DE">
<head>
    <link href="/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <script src="/static/assets/js/core/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Front End - Smart Mirror</title>
    <style>
            .gridContainer{
                display: grid;
                grid-template-columns: auto auto auto;
                min-height: 100vh;
                max-height: 100vh;
                max-width: 100vw;
            }
            .grid-item{
                border: 1px solid rgba(0, 0, 0, 0.8);
                font-size: 30px;
                text-align: center;
            }

            /* Weather Styles*/
            .cities {
                display: grid;
                grid-gap: 32px 20px;
                grid-template-columns: repeat(1, 1fr);
            }
            .city {
                position: relative;
                padding: 5px 10%;
                border-radius: 20px;
                list-style: none;
            }
            figcaption {
                margin-top: 10px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }

            .city sup {
                font-size: 0.5em;
            }
            .city-name sup {
                padding: 0.2em 0.6em;
                border-radius: 30px;
                color: white !important;
                background: var(--orange);
            }

            #cityPlaceholder{
                color: white;
            }

            .quotesText{
                color: white !important;
                font-size: 30px;
            }

            #authorPlaceholder{
                font-style: italic;
                font-weight: 250;
                font-size: 25px;
            }


            #highlightContainer {
                width: 100%;
                height: 100vh;
                display: flex;
            }

    </style>



</head>
    <body style="background: black">
        <div id="highlightContainer" style="display: none">

        </div>

        <div class="gridContainer">
            <div class="grid-item todoContainer" id="todoContainer">
                {% include 'subsitesModules/todo_module.html' %}
            </div>
            <div class="grid-item animatorContainer" id="animatorContainer">
                {% include 'subsitesModules/animator_module.html' %}
            </div>
            <div class="grid-item clockContainer" id="clockContainer">
                {% include 'subsitesModules/clock_module.html' %}
            </div>
            <div class="grid-item weatherContainer" id="weatherContainer">
                {% include 'subsitesModules/weather_module.html' %}
            </div>
            <div class="grid-item stockContainer" id="stockContainer">
                {% include 'subsitesModules/stock_module.html' %}
            </div>
            <div class="grid-item quotesContainer" id="quotesContainer">
                {% include 'subsitesModules/quotes_module.html' %}
            </div>
        </div>
{#        <div id="configuration-button" style="position: fixed;bottom: 0">#}
{#            <a class="p-3" style="position: absolute; bottom:0;" href="/dashboard.html">#}
{#                <button type="button" class="btn btn-primary" >Configuration</button>#}
{#            </a>#}
{#        </div>#}
    </body>

    <script src="{{url_for('static', filename='vendor/own/minified/scripts.min.js')}}"></script>

    <script src="/static/assets/js/modules/clock-module.js"></script>
    <script>

        function module_data_load(){
            function handle_mails(mailList){
                notify("worked", "success")
                let html = "";
                if (mailList){
                    let mails = JSON.parse(mailList)['mails'];

                    for(let i = 0; i < mails.length; i++){
                        html += `
                    <li class="list-group-item bg-dark mb-1">
                        <div class="d-flex" style="justify-content: space-between">
                            <div>
                                <a>Re: <b>` + mails[i]['subject'] + `</b></a>
                            </div>
                            <div>
                                <a style="color: var(--orange) !important;">` + mails[i]['date'] + `</a>
                            </div>
                        </div>
                    </li>
                    `
                    }
                }
                else{
                    html += "Wrong E-Mail credentials or no mails, please check in <a href='/todo'>Mail Settings</a>"
                }


                $("#mailsList").html(html)
            }

            function handle_todos(todoList){
                let todos = JSON.parse(todoList)['todo_entries'];
                let max_entry_index = todos.length;
                if (max_entry_index >= 6){
                    max_entry_index = 6;
                }

                let html = "";
                for(let i=0; i < max_entry_index; i++){
                    html += `
                <li class="list-group-item bg-dark mb-1"><a>` + todos[i] + `</a></li>
                `
                }
                $('#todoList').html(html);
            }

            function handle_quote(quote) {
                let rawQuote = JSON.parse(quote)
                $("#quotePlaceholder").text(rawQuote['quote']['text'])
                $("#authorPlaceholder").text(rawQuote['quote']['author'])
            }

            function handle_weather(weatherData){
                let rawWeather = JSON.parse(weatherData)
                $("#descriptionPlaceholder").text(rawWeather['description'])
                $("#tempPlaceholder").text(rawWeather['temp'])
                $("#countryPlaceholder").text(rawWeather['country'])
                $("#cityPlaceholder").text(rawWeather['city'])
                $("#imagePlaceholder").attr("src", rawWeather['icon'])
            }

            function handle_stocks(stockData) {
                let rawStock = JSON.parse(stockData)["stock"]
                $("#stockPlaceholder").text(rawStock['name'])
                $("#pricePlaceholder").text(rawStock['current_price'])
                $("#percentagePlaceholder").text(rawStock['difference_in_percent'])

                $("#stockImagePlaceholder").attr("src", rawStock['logoURI'])
            }

            function handle_animator(animatorData){
                {#$("#animator-image").attr("src", animatorData)#}
                {#$("#stockImagePlaceholder").attr("src", rawStock['logoURI'])#}
            }


            function load_mails(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/mail",
                    data: {"type": "fetch_mails"},
                    success:function (response){
                        handle_mails(response)
                    },
                    error:function (){
                        $("#mailsList").text("Wrong mail settings!")
                    }
                });
            }

            function load_todos(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/todo",
                    data: {"type": "fetch_todo"},
                    success:function (response){
                        handle_todos(response)
                    },
                    error:function (){
                        handle_mails("")
                    }
                });
            }

            function load_quotes(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/quotes",
                    data: {"type": "fetch_quote"},
                    success:function (response){
                        handle_quote(response)
                    },
                    error:function (){
                        handle_quote("")
                    }
                });
            }

            function load_weather(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/weather",
                    data: {"type": "fetch_weather"},
                    success:function (response){
                        handle_weather(response)
                    },
                    error:function (){
                        handle_weather("")
                    }
                });
            }

            function load_stocks(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/stocks",
                    data: {"type": "fetch_stocks"},
                    success:function (response){
                        handle_stocks(response)
                    },
                    error:function (){
                        handle_stocks("")
                    }
                });
            }

            function load_animator(){
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "/animator",
                    data: {"type": "fetch_image"},
                    success:function (response){
                        handle_animator(response)
                    },
                    error:function (){
                        alert('ererrror')
                    }
                });
            }

            function clock_stuff(){
                let moduleBackgroundColor = "{{ modules['clock'].config['module_config']['clock_background_color'] }}";
                let modulePointerColor = "{{ modules['clock'].config['module_config']['pointer_color'] }}";
                let moduleNumberColor = "{{ modules['clock'].config['module_config']['number_color'] }}";
                let moduleTimeZone = "{{ modules['clock'].config['module_config']['timezone'] }}";

                let canvas = document.getElementById("module_clock");

                let ctx = canvas.getContext("2d");
                let radius = canvas.height / 2;
                ctx.translate(radius, radius);
                radius = radius * 0.7;

                var clockTicker = setInterval(drawClock, 1000);
                function drawClock() {
                    drawFace(ctx, radius, moduleBackgroundColor);
                    drawNumbers(ctx, radius, moduleNumberColor);
                    drawTime(ctx, radius, modulePointerColor, moduleTimeZone);
                }
            }

            load_mails();
            load_todos();
            load_quotes();
            load_weather();
            load_stocks();
            load_animator();
            clock_stuff();
        }

        function module_config_load(){
            function handle_config(config){
                let module_config = JSON.parse(config)['global_module_config'];
                apply_general_config(module_config)
                apply_design_config(module_config)
            }

            $.ajax({
                    async: true,
                    type: "GET",
                    url: "/config",
                    data: {"type": "fetch_all_config_files"},
                    success:function (response){
                        handle_config(response)
                    },
                    error:function (){
                        alert('error')
                    }
                });



            function apply_general_config(config){
                let clock_config = config[0]["clock"]["general_config"]
                let todo_config = config[1]["todo"]["general_config"]
                let weather_config = config[2]["weather"]["general_config"]
                let quotes_config = config[3]["quotes"]["general_config"]
                let mail_config = config[4]["mail"]["general_config"]
                let stock_config = config[5]["stocks"]["general_config"]
                let animator_config = config[6]["animator"]["general_config"]

                if (clock_config['visibility'] === "off"){ $(".clockContainer").remove()}
                if (todo_config['visibility'] === "off"){$(".todoContainer").remove()}
                if (weather_config['visibility'] === "off"){$(".weatherContainer").remove()}
                if (quotes_config['visibility'] === "off"){$(".quotesContainer").remove()}
                if (mail_config['visibility'] === "off"){$(".mailsContainer").remove()}
                if (stock_config['visibility'] === "off"){$(".stockContainer").remove()}
                if (animator_config['visibility'] === "off"){$(".animatorContainer").remove()}

                {##}
                {#$(".todoContainer").css("order", parseInt(clock_config['grid_place']))#}
                {#$(".clockContainer").css("order", parseInt(todo_config['grid_place']))#}
                {#$(".mailsContainer").css("order", parseInt(weather_config['grid_place']))#}
                {#$(".quotesContainer").css("order", parseInt(quotes_config['grid_place']))#}
                {#$(".stockContainer").css("order", parseInt(mail_config['grid_place']))#}
                {#$(".weatherContainer").css("order", parseInt(stock_config['grid_place']))#}
                {#$(".animatorContainer").css("order", parseInt(animator_config['grid_place']))#}


                

            }

            function apply_design_config(config){
                let clock_config = config[0]["clock"]["design_config"]
                let todo_config = config[1]["todo"]["design_config"]
                let weather_config = config[2]["weather"]["design_config"]
                let quotes_config = config[3]["quotes"]["design_config"]
                let mail_config = config[4]["mail"]["design_config"]
                let stock_config = config[5]["stocks"]["design_config"]
                let animator_config = config[6]["animator"]["design_config"]



                $(".clockContainer").css({
                    "background": clock_config["background_color"],
                    "font-size": clock_config["font_size"],
                    "font-family": clock_config["font_family"]
                })
                $(".todoContainer").css({
                    "background": todo_config["background_color"],
                    "font-size": todo_config["font_size"],
                    "font-family": todo_config["font_family"]
                })
                $(".weatherContainer").css({
                    "background": weather_config["background_color"],
                    "font-size": weather_config["font_size"],
                    "font-family": weather_config["font_family"]
                })
                $(".stockContainer").css({
                    "background": stock_config["background_color"],
                    "font-size": stock_config["font_size"],
                    "font-family": stock_config["font_family"]
                })
                $(".quotesContainer").css({
                    "background": quotes_config["background_color"],
                    "font-size": quotes_config["font_size"],
                    "font-family": quotes_config["font_family"]
                })

                $(".animatorContainer").css({
                    "background": animator_config["background_color"],
                    "font-size": animator_config["font_size"],
                    "font-family": animator_config["font_family"]
                })

            }

        }

        module_config_load();
        module_data_load();


    </script>

    <script>
        $("body").keydown(function(event){
            let index = event.which - 49;
            let highligthEl = "";
            if (index === 0){
                highligthEl = "todoContainer";
            }
            if (index === 1){
                highligthEl = "animatorContainer";
            }
            if (index === 2){
                highligthEl = "clockContainer";
            }
            if (index === 3){
                highligthEl = "weatherContainer";
            }
            if (index === 4){
                highligthEl = "weatherContainer";
            }
            if (index === 5){
                highligthEl = "stockContainer";
            }
            if (index === 6){
                highligthEl = "quotesContainer";
            }

            let elementsToHide = $('.grid-item');
            for(let i = 0; i < elementsToHide.length; i++){
                if (elementsToHide[i].id !== highligthEl){
                    $(elementsToHide[i]).slideUp();
                }
            }
            $(".gridContainer").css({
                "justify-content": "center",
                "align-content": "center"
            })

            setTimeout(function () {
                for(let i = 0; i < elementsToHide.length; i++){
                    if (elementsToHide[i].id !== index){
                        $(elementsToHide[i]).slideDown();
                    }
                }
                $(".gridContainer").css({
                    "justify-content": "unset",
                    "align-content": "unset"
                })
            }, 2000)

        })



        $('.grid-item').click(function (){
            let elementsToHide = $('.grid-item');

            for(let i = 0; i < elementsToHide.length; i++){
                if (elementsToHide[i].id !== ($(this).attr("id"))){
                    $(elementsToHide[i]).slideUp();
                }
            }
            $(".gridContainer").css({
                "justify-content": "center",
                "align-content": "center"
            })

            setTimeout(function () {
                for(let i = 0; i < elementsToHide.length; i++){
                    if (elementsToHide[i].id !== ($(this).attr("id"))){
                        $(elementsToHide[i]).slideDown();
                    }
                }
                $(".gridContainer").css({
                    "justify-content": "unset",
                    "align-content": "unset"
                })
            }, 2000)
        })
    </script>

</html>

