<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <title>
        {% block title %}{% endblock %}
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />

    <!-- OTHER CSS -->
    <link href="/static/assets/css/other/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="/static/assets/css/other/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/static/assets/css/other/globalOWN.css" rel="stylesheet" />
    <link href="/static/assets/css/other/modulesOWN.css" rel="stylesheet" />



    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>

<body>

<div id="modalBOX"></div>

<div class="wrapper">

    {% include 'include/sidebar.html' %}

    <div class="main-panel">

        {% include 'include/navigation.html' %}

        <div class="content">

            {% block content %}
            {% endblock content %}

        </div>

        {% include 'include/footer.html' %}

    </div>

</div>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% include 'include/scripts.html' %}
{% include 'include/fixed-plugin.html' %}
{% include 'include/scripts-sidebar.html' %}

</body>

</html>